extends ../config/template 
append config
	-currentPage		= "banner"
	-siteName			= 'animado 1'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../internal-modules/banner
block main-footer
block scripts
