<div class="ed-grid">
	<div class="lg-grid-12 relative-pos s-pt-4 s-py-0 lg-py-0">
		<h1>ANIMATED BANNER</h1>
	</div>
</div>
<section class="banner-section s-mb-0">
	<div class="ed-grid lg-grid-12 relative-pos s-pt-4 s-py-0 lg-py-0">
		<div class="s-order-1 lg-order-2 relative-pos lg-cols-6">
			<div class="text-container">
				<h1>ANIMATED BANNER</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, accusantium.</p>
			</div>
		</div>
		<div class="s-order-1 lg-order-2 cover-banner relative-pos lg-cols-6">
			<img class="john-doe" src="images/john-doe.png" />
			<img class="absolute-pos toon s-pointer-events-none" src="images/toon.png" />
			<div class="icons-other absolute-pos s-pointer-events-none">
				<img class="absolute-pos logo s-pointer-events-none" src="images/jazz-logo.png" />
				<img class="absolute-pos icons s-pointer-events-none" src="images/int-icons.png" />
				<img class="absolute-pos main-rotation bigger s-pointer-events-none" src="images/ext-icons.png" />
				<img class="absolute-pos main-rotation s-pointer-events-none" src="images/matrix.png" />
			</div>
		</div>
	</div>
</section>
